---
title: HackerRankでサンプル問題にトライ
description: HackerRankでサンプル問題にトライする手順の紹介です。
---

%meta{ name: 'robots', :content => 'noindex'}/
.container
  .row
    .col-md-10
      %h1 HackerRankでサンプル問題にトライ

      %p
        「
        %b
          %a{href: 'https://www.hackerrank.com', target: '_blank'} HackerRank
        」は、様々な領域のプログラミングの問題にチャレンジできるサービスです。 HackerRankには大きく2つの側面があります。

        %ul
          %li 一般のエンジニアが無料で基礎的な問題にチャレンジする
          %li 企業が出題した問題をオンラインテスト的に制限時間内に回答する

        今回は、『一般のエンジニアが無料で基礎的な問題にチャレンジする機能』を紹介します。

.container{style: 'margin-top:20px;'}
  .row
    .col-md-10
      %a{href: 'https://www.hackerrank.com', target: '_blank'}
        %img{src: '/images/support/hacker_rank_top.png'}

.container{style: 'margin-top:40px;'}
  .row
    .col-md-12
      %h2 手順
  .row
    .col-md-12
      %h3 1. 言語を選ぶ

      %p
        言語はC++、Java、SQL、Ruby、Python等を自分が得意な言語を選択することができます。(※ 画面によって選択できる言語は変わる可能性があります)
        %br
        .row
          .col-md-8
            %img{src: '/images/support/select_languages.png'}
  .row
    .col-md-12
      %h3 2. プログラミングの問題を選ぶ

      %p
        成功率や最大得点、難易度等をもとに、問題を選択できます。基礎的なチュートリアルも数多くあります。
        %br
        .row
          .col-md-8
            %img{src: '/images/support/select_challenges.png'}
  .row
    .col-md-12
      %h3 3. 問題にチャレンジ！

      %p
        コードを書いて問題を解いていきます。
        %br
        .row
          .col-md-8
            %img{src: '/images/support/start_challenge.png'}
  .row
    .col-md-12
      %h3 4. 「Run Code」でコードの実行結果を確認

      %p
        右下の「Run Code」ボタンを押すとコードの実行結果を確認することができます。
        %br
        .row
          .col-md-8
            %img{src: '/images/support/run_code.png'}
  .row
    .col-md-12
      %h3 5. 「Submit Code」でコードを投稿

      %p
        右下の「Submit Code」でボタンを押すとコードを投稿することができます。
        %br
        .row
          .col-md-8
            %img{src: '/images/support/submit_code.png'}
  .row
    .col-md-12
      %h2 アドバイス

      %p
        この「
        %b
          %a{href: 'https://www.hackerrank.com', target: '_blank'} HackerRank
        」は英語の海外サービスで少しだけ癖があるので、事前に触って慣れておくといいかと思います。
        %br
        以下オンラインテストを行う際のアドバイスです。

        %ul
          %li 使い慣れたツールやエディタを使いたい場合は、ローカル環境で受験する言語を実行・デバックする環境を事前に整えておくといいかもです。
          %li
            オンラインテストの問題にはパターンがあるので、以下の様な別のサービスを事前にトライしてみることをおすすめします。
            %ul
              %li
                %a{ href: 'http://judge.u-aizu.ac.jp/onlinejudge/', target: '_blank' } AIZU ONLINE JUDGE: Programming Challenge
              %li
                %a{ href: 'http://paiza.jp/', target: '_blank' } Paiza - Gino
              %li
                %a{ href: 'http://www.minituku.net/', target: '_blank' } ミニツク - Rubyのe-ラーニング研修システム