/* line 3, /Users/t-matsubara/work/m3dev.github.com/source/stylesheets/events/ideathon/201504.css.scss */
.events-ideathon-201504 .text-strong {
  font-weight: bold; }
/* line 10, /Users/t-matsubara/work/m3dev.github.com/source/stylesheets/events/ideathon/201504.css.scss */
.events-ideathon-201504 .step-container .step-column {
  font-weight: bold;
  margin-top: 10px;
  width: 100px; }
/* line 18, /Users/t-matsubara/work/m3dev.github.com/source/stylesheets/events/ideathon/201504.css.scss */
.events-ideathon-201504 .idea-introduction li {
  margin: 15px 0; }
/* line 23, /Users/t-matsubara/work/m3dev.github.com/source/stylesheets/events/ideathon/201504.css.scss */
.events-ideathon-201504 .point-title {
  font-size: 16px;
  font-weight: bold;
  margin: 20px 0; }
/* line 30, /Users/t-matsubara/work/m3dev.github.com/source/stylesheets/events/ideathon/201504.css.scss */
.events-ideathon-201504 .description {
  color: #666;
  margin-bottom: 10px; }
/* line 35, /Users/t-matsubara/work/m3dev.github.com/source/stylesheets/events/ideathon/201504.css.scss */
.events-ideathon-201504 .photos {
  margin-bottom: 10px; }
